<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니 페이지</title>
</head>

<!--
    장바구니 페이지 – 담은 책 목록, 구매 버튼, 담은 책 삭제 
    (구매를 누르면, 입금주소 팝업이 구현, alert 창 – 일단 보류) 
    
    컨텐츠 순서
    로고
    검색창
    장바구니 제목
    장바구니 표 : 이미지 상품명 가격 품질 상품ID 삭제
    총 가격 계산
    구매하기 버튼
-->

<body>
    <link rel="stylesheet" href="/css/cart.css">

    <div id="all-div">
        <center>
            <a href="/">
                <img class="logo" src="/img/Vintage Library-logo.png">
              </a>
            <div class="search" style="position: relative; top: 15px;">
                <i class="fas fa-search"></i>
                <form action="research" method="get">
                    <input type="text" name="qs" placeholder="책 이름 또는 저자를 입력하세요." style="width:400px; height:30px;">
                    <button id="search" type="submit">검색</button>
                </form>
            </div>
        </center>
        <br><br><br>
        <div id="cart-text-div">
            <h3 id="cart-text">장바구니 상품</h3>
        </div>
        <table id="cart-table">
            <thead>
                <tr id="first-row">
                    <th>이미지</th>
                    <th id="book-title-head">상품명</th>
                    <th>가격</th>
                    <th>품질</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id="cart-table-body">
                <form action="cart" method="post">
                    <tr th:each="book : ${books}">
                            <td><img class="book-image" th:src="@{${'/image-upload/' + book.imageName}}" alt="book_image"></td>
                            <td class="book-title"><a href="book_link" th:text="${book.bookName}">클린 코드 Clean Code - 애자일 소프트웨어 장인 정신</a></td>
                            <td class="book-price" th:text="${book.price}">15,000원</td>
                            <td class="book-quality" th:text="${book.quality}">중</td>
                                <td>
                                    <div>
                                        <input th:value="${book.bookid}" name="deleteBookIds" type="checkbox">
                                        <button class="delete-button" type="submit">삭제</button>
                                    </div>
                                </td>
                        </tr>
                </form>
            </tbody>
        </table>
        <br>
        <div id="price-div">
            <h3 id="total-price">총 가격 : </h3>
        </div>
        <br>
        <div id="buy-div">
            <button class="buy-button" onClick="location.href='/purchase'">구매하기</button>
        </div>
    </div>
    <script src="./js/cart.js?ver=1"></script>

</body>

</html>