<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="MyPageBody">
    <div class="wrap">
        <div class="MyInfoContainer">
            <div th:if = "${session.user != null}"}>
                <div class="Nav">
                    <a href="/">
                        <i class="fas fa-home" style="color: white;"></i>
                    </a>
                    <a href="cart">
                        <i class="fas fa-shopping-cart" style="color: white; margin-left: 20px;"></i>
                    </a>
                </div>
                <div class="name"><span th:text="${session.user.userId}"></span> 님</div>
                <div class="nickname"><span th:text="${session.user.email}"></span> </div>
            </div>
        </div>
        <div class="StatusContainer">
            <div class="title">
                구매/판매 현황
            </div>
            <div class="status">
                <div class="item">
                    <div>
                        <div class="number" th:text="${countInfo.inCart}"></div>
                        <div class="text">장바구니</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="number" th:text="${countInfo.inPur}"></div>
                        <div class="text">구매진행중</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="number" th:text="${countInfo.pur}"></div>
                        <div class="text">구매완료</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="number" th:text="${countInfo.inSell}"></div>
                        <div class="text">판매중</div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div class="number" th:text="${countInfo.sell}"></div>
                        <div class="text">판매완료</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="listContainer">
            <div class="header">
                <div class="headerTitle">판매목록</div>
            </div>
            <hr>

            <div th:each="selling: ${sellingBookList}" class="book">
                <div>
                    <img th:src="@{${'/image-upload/' + selling.bookImage}}"/>
                </div>
                <div>
                    <span class="title" th:text="${selling.bookName}"></span><br>
                    <span class="author" th:text="${selling.bookAuthor}"></span><br><br>
                    <span class="user" th:text="'구매자: ' + ${selling.bookBuyer}"></span><br>
                    <span class="status" th:text="${selling.bookStat}"></span><br>
                </div>
            </div>

        </div>
        <div class="listContainer">
            <div class="header">
                <div class="headerTitle">구매목록</div>
            </div>
            <hr>
            <div th:each="buying: ${buyingBookList}" class="book">
                <div>
                    <img th:src="@{${'/image-upload/' + buying.bookImage}}"/>
                </div>
                <div>
                    <span class="title" th:text="${buying.bookName}"></span><br>
                    <span class="author" th:text="${buying.bookAuthor}"></span><br><br>
                    <span class="user" th:text="'판매자: ' + ${buying.bookSeller}"></span><br>
                    <span class="user" th:text="'계좌번호: ' + ${buying.sellerAccount}"></span><br>
                    <span class="status" th:text="${buying.bookStat}"></span><br>
                </div>
            </div>
        </div>
        <div class="footerContainer">
            <a href="logout" class="item">
                <div>로그아웃</div>
            </a>
            <a href="/" class="item">
                <div>메인페이지</div>
            </a>
            <a href="cart" class="item">
                <div>장바구니</div>
            </a>
        </div>
    </div>
</body>